# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

LiZhi_OrderFood/.svn
LiZhi_OrderFood/assets
LiZhi_OrderFood/.settings
LiZhi_OrderFood/bin
LiZhi_OrderFood/gen
LiZhi_OrderFood/libs
LiZhi_OrderFood/.classpath
LiZhi_OrderFood/res/.svn
LiZhi_OrderFood/res/anim/.svn
LiZhi_OrderFood/res/color/.svn
LiZhi_OrderFood/res/drawable/.svn
LiZhi_OrderFood/res/drawable-hdpi/.svn
LiZhi_OrderFood/res/drawable-ldpi/.svn
LiZhi_OrderFood/res/drawable-mdpi/.svn
LiZhi_OrderFood/res/drawable-xhdpi/.svn
LiZhi_OrderFood/res/drawable-xxhdpi/.svn
LiZhi_OrderFood/res/drawable-xxxhdpi/.svn
LiZhi_OrderFood/res/layout/.svn
LiZhi_OrderFood/res/menu/.svn
LiZhi_OrderFood/res/raw/.svn
LiZhi_OrderFood/res/values/.svn
LiZhi_OrderFood/res/values-sw600dp/.svn
LiZhi_OrderFood/res/values-sw720dp-land/.svn
LiZhi_OrderFood/res/values-v11/.svn
LiZhi_OrderFood/res/values-v14/.svn
LiZhi_OrderFood/src/.svn
LiZhi_OrderFood/src/com/.svn
LiZhi_OrderFood/src/com/lizhi/.svn
LiZhi_OrderFood/src/com/wizarpos/.svn

appcompat_v7/
DuiDuiFu_Util_CT/
Lizhi_Main_CT/
XCL-Charts/
Àî×Óµã²Í/


*.svn-base
*.svn
.svn
.zip